<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="Tags" id="tags" th:fragment="cloud" >
    <!--div class="Tag Tag_sm" th:each="tag: ${tagsBook}">
      <a href="/tags/index.html" th:text="${tag.description}" >классическая литература</a>
    </div-->
    <form class="form form_search" action="#" method="post" data-searchlimit="5"
          th:object="${searchTagDto}" >
        <div th:class="${element.value} == 0 ? 'Tag Tag_sm' :
                         ( ${element.value} == 1 ? 'Tag Tag_xs' :
                           (${element.value} == 2 ? 'Tag Tag_md' : 'Tag Tag_lg') ) "
             th:each="element: ${tagsBookMap}">
        <a th:href="${'/books/tag/' + element.key.id}" th:field="*{tagId}" th:text="${element.key.description}" >классическая литература</a>
        </div>
    </form>
</div>
</html>